# Setup

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#required libraries to get an overview of dataset with Python

In [23]:
def extract(filename):
    file = "/files/Macroeconometrics/Temperature/dat/" + filename  # identify location
    text = open(file, 'r')  #open text file
    
    table=[]  #create an empty table where relevant data will be inserted
    for line in text:
        column = line.split()   #split text file into words using the in-built split function
        if line[0] == '#':   #ignore comments
            continue
        elif len(column) == 0: #ignore empty lines
            continue
        else:
            year = int(column[0])  #define year variable
            temp_jan = column[1]  
            temp_feb = column[2]
            temp_mar = column[3]
            temp_apr = column[4]   #Creating variables for each month from the columns of .txt file
            temp_may = column[5]
            temp_jun = column[6]
            temp_jul = column[7]
            temp_aug = column[8]
            temp_sep = column[9]
            temp_oct = column[10]
            temp_nov = column[11]
            temp_dec= column[12]
            table.append([year, temp_jan, temp_feb, temp_mar, temp_apr, temp_may, temp_jun, temp_jul, temp_aug, temp_sep, temp_oct, temp_nov, temp_dec])  #insert variables
    text.close()
    return(table)

# Creating Pandas Dataframe for Temperature

*You will notice some columns will start with capital letters and others in lower case. I did this to differentiate between string values and float values. In the original dataset, most values were stored as strings since we imported a .txt file. For these values I named the columns with capital letters. However, after converting the datatype to float values I also turned the columns into lower case to differentiate the two.*

In [24]:
x = extract("temp_data.txt")     #using extract function above on the .txt file where the data is stored line by line.

In [25]:
data = pd.DataFrame(x, columns=['Year', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])    
data

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1864,-7.1,-4.52,0.04,2.1,7.43,9.48,12.37,10.95,8.59,3.51,-0.51,-4.47
1,1865,-3.46,-6.26,-5.91,7.01,10.1,10.98,13.98,11.16,11.89,5.21,1.26,-3.07
2,1866,-1.31,-0.42,-1,4.1,4.96,12.02,12.25,9.99,9.69,5.35,-0.2,-0.49
3,1867,-3.87,0.55,-0.13,3.48,7.74,10.57,11.29,12.94,10.42,2.93,-1.43,-5.8
4,1868,-5.46,-1.54,-2.3,2.32,12.04,11.96,12.88,12.5,11.12,4.78,-1.99,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2019,-4.38,0.74,2.29,4.49,6.11,15.26,16.21,15.11,11.39,8.45,1.5,0.75
156,2020,-0.29,1.63,1.56,7.63,9.56,11.83,15.4,15.21,11.89,5.36,3.68,-1.21
157,2021,-3.57,0.83,0.94,2.88,6.24,14.37,13.9,13.11,12.14,6.27,1.12,-0.66
158,2022,-1.49,-0.14,2.37,4.62,11.49,15.36,16.96,16.13,10.08,10.44,3.32,-0.29
159,2023,-1.62,0.07,2.65,3.7,9.34,14.93,15.97,15.57,14.29,9.7,1.58,0.64

In [26]:
df = data.drop(range(12), axis='index')    #Drops observations before 1876, as this is the year where other datasets for mortality will begin

In [28]:
df['january'] = df['January'].astype(float)
df['february'] = df['February'].astype(float)        #Here we convert string columns into floats so that we can do further manipulations in the future. (Probably a better way to do this using a for loop)
df['march'] = df['March'].astype(float)
df['april'] = df['April'].astype(float)
df['may'] = df['May'].astype(float)
df['june'] = df['June'].astype(float)
df['july'] = df['July'].astype(float)
df['august'] = df['August'].astype(float)
df['september'] = df['September'].astype(float)
df['october'] = df['October'].astype(float)
df['november'] = df['November'].astype(float)
df['december'] = df['December'].astype(float)

In [29]:
df = df.drop(columns=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])   #Drops old string columns

In [30]:
df

,Year,january,february,march,april,may,june,july,august,september,october,november,december
12,1876,-4.41,-2.37,-0.87,2.91,4.42,10.53,13.58,13.10,7.90,7.26,-1.20,-0.08
13,1877,-1.64,-1.79,-2.31,2.55,4.94,13.39,11.83,13.51,7.29,2.71,1.71,-3.45
14,1878,-5.82,-1.76,-2.23,3.12,8.26,10.20,11.91,12.16,9.45,5.45,-2.00,-6.36
15,1879,-4.10,-2.58,0.09,0.92,3.41,10.82,9.79,14.02,9.32,4.00,-3.14,-8.40
16,1880,-6.41,-2.06,2.19,3.72,6.20,8.91,13.67,11.13,9.66,5.41,1.13,0.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2019,-4.38,0.74,2.29,4.49,6.11,15.26,16.21,15.11,11.39,8.45,1.50,0.75
156,2020,-0.29,1.63,1.56,7.63,9.56,11.83,15.40,15.21,11.89,5.36,3.68,-1.21
157,2021,-3.57,0.83,0.94,2.88,6.24,14.37,13.90,13.11,12.14,6.27,1.12,-0.66
158,2022,-1.49,-0.14,2.37,4.62,11.49,15.36,16.96,16.13,10.08,10.44,3.32,-0.29
159,2023,-1.62,0.07,2.65,3.70,9.34,14.93,15.97,15.57,14.29,9.70,1.58,0.64

In [31]:
df['max_temp'] = df[['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']].max(axis=1)   #Create max temp column

In [32]:
df['min_temp'] = df[['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']].min(axis = 1)    #Create min temp column

In [33]:
df['median_temp'] = round(df[['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']].median(axis = 1), 2)    #Create median temp column

In [34]:
df

,Year,january,february,march,april,may,june,july,august,september,october,november,december,max_temp,min_temp,median_temp
12,1876,-4.41,-2.37,-0.87,2.91,4.42,10.53,13.58,13.10,7.90,7.26,-1.20,-0.08,13.58,-4.41,3.66
13,1877,-1.64,-1.79,-2.31,2.55,4.94,13.39,11.83,13.51,7.29,2.71,1.71,-3.45,13.51,-3.45,2.63
14,1878,-5.82,-1.76,-2.23,3.12,8.26,10.20,11.91,12.16,9.45,5.45,-2.00,-6.36,12.16,-6.36,4.28
15,1879,-4.10,-2.58,0.09,0.92,3.41,10.82,9.79,14.02,9.32,4.00,-3.14,-8.40,14.02,-8.40,2.16
16,1880,-6.41,-2.06,2.19,3.72,6.20,8.91,13.67,11.13,9.66,5.41,1.13,0.44,13.67,-6.41,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2019,-4.38,0.74,2.29,4.49,6.11,15.26,16.21,15.11,11.39,8.45,1.50,0.75,16.21,-4.38,5.30
156,2020,-0.29,1.63,1.56,7.63,9.56,11.83,15.40,15.21,11.89,5.36,3.68,-1.21,15.40,-1.21,6.50
157,2021,-3.57,0.83,0.94,2.88,6.24,14.37,13.90,13.11,12.14,6.27,1.12,-0.66,14.37,-3.57,4.56
158,2022,-1.49,-0.14,2.37,4.62,11.49,15.36,16.96,16.13,10.08,10.44,3.32,-0.29,16.96,-1.49,7.35
159,2023,-1.62,0.07,2.65,3.70,9.34,14.93,15.97,15.57,14.29,9.70,1.58,0.64,15.97,-1.62,6.52

In [35]:
df.to_csv('Temp.csv', sep=',', index=False, encoding='utf-8')        #Convert dataframe into csv file